.main {
	background-color: mintcream;
}

.hero {
	padding-top: calc(var(--mantine-spacing-xl) * 1.5);
	padding-bottom: calc(var(--mantine-spacing-xl) * 1.5);
	position: relative;
	width: 100%;
	overflow-x: hidden;
}

.container {
	display: flex;
	flex-direction: column;
	min-height: 70vh;
	z-index: 1;
	position: relative;
	width: 100%;
	padding-left: 0;
	padding-right: 0;
}

/* Pour les écrans mobiles */
@media (max-width: 768px) {
	.container {
		padding-left: 0;
		padding-right: 0;
	}
}
