.hero {
    padding-top: rem(120px);
    padding-bottom: rem(117px);
    position: relative;
    background-image: url("../assets/bols-tibetains.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.container {
    height: rem(700px);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    padding-bottom: calc(var(--mantine-spacing-xl) * 6);
    z-index: 1;
    position: relative;

    @media (max-width: $mantine-breakpoint-sm) {
        height: rem(500px);
        padding-bottom: calc(var(--mantine-spacing-xl) * 3);
    }
}
