.card {
    transition:
            transform 150ms ease,
            box-shadow 150ms ease;

    &:hover {
        transform: scale(1.01);
        box-shadow: var(--mantine-shadow-md);
    }
}

.title {
    font-family: 'Greycliff CF', var(--mantine-font-family), sans-serif;
    font-weight: bold;
}

@media (max-width: 768px) {
	.hidden {
		display: none;
	}
}
